<template>
    <div class="media-object" style="max-width: 300px;">
      <div>
        <div class="react-contextmenu-wrapper">
          <div class="cover-art">
            <div class="cover-art-image cover-art-image-loaded" :style="{ 'background-image': 'url(' + album.cover + ')' }">
               <template v-if="album.favorite">
                 <a class="favorite-icon" @click="unstar(album)" title="This a favorite album">
                   <i class="glyphicon glyphicon-star yellow"></i>
                 </a>
               </template>
                <template v-else>
                  <a class="favorite-icon" @click="star(album)" title="Click to mark this album favorite">
                    <i class="glyphicon glyphicon-star-empty"></i>
                  </a>
                </template>
            </div>
          </div>
        </div>
        <div class="mo-info">
        <div class="react-contextmenu-wrapper">
          <router-link :to="{ name: 'View3', params: { id: album.id }}">{{album.name}}</router-link>
        </div>
        </div>
      </div>
    </div>
</template>
<script>
export default{
	name: 'album',
	methods: {
		star (album) {
			this.$store.dispatch('markAlbumAsFavorite', album)
		},
		unstar (album) {
			this.$store.dispatch('unmarkAlbumAsFavorite', album)
		}
	},
	props: ['album'],
	computed: {
		isFavorite () {
			return this.state.album.favorite
		}
	}
}
</script>

<style>
.favorite-icon{
  position: absolute;
  right: 10px;
  top: 10px;
}
  .glyphicon .yellow{
    color: yellow;
  }
</style>
