<template>
  <div class="main-view-container">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-3 col-xl-4 col-sticky">
				<Album v-bind:album="album"></Album>
			</div>
			<div class="col-xs-12 col-lg-9 col-xl-8s">
				<section class="tracklist-container">
					<ol class="tracklist">
						<div class="react-contextmenu-wrapper" v-for="song in album.songs">
							<li class="tracklist-row">
								<Song v-bind:song="song" v-bind:album="album"></Song>
							</li>
						</div>
					</ol>
				</section>
			</div>
		</div>
	</div>
  </div>
</template>

<script>
  /* eslint-disable indent */
  import Album from './Album.vue'
	import Song from './Song.vue'
export default{
		name: 'albumDetails',
    components: {
			Album,
      Song
    },
    computed: {
			album () {
				window.console.log('id is ' + this.$route.params['id'])
        return this.$store.getters.albumById(this.$route.params['id'])
      }
    }
}
</script>

<style>
</style>
