<template>
    <div class="main-view-container">
      <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xl-2" v-for="album in albums">
          <Album v-bind:album="album"></Album>
        </div>
      </div>
      </div>
    </div>
</template>
<script>
import Album from './Album.vue'
export default{
	name: 'allAlbums',
	components: {
		Album
	},
	computed: {
		albums () {
			return this.$store.getters.albums
		}
	}
}
</script>
<style>
</style>
