<template>
    <div id="menu" class="container">
        <nav role="navigation" class="navbar navbar-default">
          <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><router-link to="/">All Albums</router-link></li>
              <li><router-link to="/favorites">Favorites</router-link></li>

            </ul>
          </div>
        </nav>
    </div>
</template>

<script>
  export default{
  	name: 'appMenu'
  }
</script>
