<template>
  <div class="main-view-container">
    <div class="container">
      <div class="row">
		<div>
				<div v-if="favorites.length === 0">
					You have no albums marked as favorite.
				</div>
				<div v-else>
          <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xl-2" v-for="album in favorites">
            <Album v-bind:album="album"></Album>
          </div>
        </div>
		</div>
      </div>
    </div>
  </div>
</template>

<script>
  import Album from './Album.vue'

export default {
	name: 'favoriteAlbums',
	components: {
		Album
	},
	computed: {
		favorites () {
			return this.$store.getters.favoriteAlbums
		}
	}
}
</script>
