<template>
<div>
    <span>{{position}}.</span>
    <span class="track-name">{{song.name}}</span>
		<span class="artists-album">{{song.artists}}</span>
    <span class="total-duration">{{song.duration}}</span>
</div>
</template>
<script>

export default{
	name: 'song',
	props: ['song', 'album'],
	computed: {
		position () {
			return this.album.songs.indexOf(this.song) + 1
		}
	}
}
</script>

<style>
</style>
