<template>
  <div class="container">
    <AppMenu></AppMenu>
    <AlbumDetails></AlbumDetails>
  </div>
</template>

<script>
import AlbumDetails from './AlbumDetails.vue'
import AppMenu from './AppMenu.vue'

export default {
	name: 'view2',
	components: {
		AppMenu,
		AlbumDetails
	}
}
</script>

<style>
body {
  font-family: Helvetica, sans-serif;
}
</style>
