<template>
	<div class="container">
		<AppMenu></AppMenu>
		<AllAlbums></AllAlbums>
	</div>
</template>

<script>
import AllAlbums from './AllAlbums.vue'
import AppMenu from './AppMenu.vue'

export default {
	name: 'view1',
	components: {
		AppMenu,
		AllAlbums
	}
}
</script>

<style>
body {
	font-family: Helvetica, sans-serif;
}
</style>
