<template>
  <div class="container">
    <AppMenu></AppMenu>
    <FavoriteAlbums></FavoriteAlbums>
  </div>
</template>

<script>
import FavoriteAlbums from './FavoriteAlbums.vue'
import AppMenu from './AppMenu.vue'

export default {
	name: 'view2',
	components: {
		AppMenu,
		FavoriteAlbums
	}
}
</script>

<style>
body {
  font-family: Helvetica, sans-serif;
}
</style>
